This Note compares performance of [base SNLI trained Electra Model trained on ANLI - Approach 1] against [Electra model trained on combined SNLI+ANLI data from scratch - Approach A2]

In [11]:
import os

# Change to a mounted drive, for example, /mnt/my_drive
os.chdir('E:\\NLP\\Comparison')

In [12]:
pwd

'E:\\NLP\\Comparison'

In [15]:
ls

 Volume in drive E is Sid_2023
 Volume Serial Number is E065-686B

 Directory of E:\NLP\Comparison

12/04/2023  09:36 AM    <DIR>          .
12/04/2023  09:36 AM    <DIR>          ..
12/04/2023  03:22 AM           733,215 eval_predictions_a0_r1.jsonl
12/04/2023  03:23 AM           731,548 eval_predictions_a0_r2.jsonl
12/04/2023  03:24 AM           842,629 eval_predictions_a0_r3.jsonl
12/04/2023  03:19 AM           732,853 eval_predictions_a1_r1.jsonl
12/04/2023  03:18 AM           731,140 eval_predictions_a1_r2.jsonl
12/04/2023  03:20 AM           842,687 eval_predictions_a1_r3.jsonl
12/04/2023  09:31 AM           732,887 eval_predictions_a2_r1.jsonl
12/04/2023  09:31 AM           731,140 eval_predictions_a2_r2.jsonl
12/04/2023  09:31 AM           842,681 eval_predictions_a2_r3.jsonl
12/04/2023  04:23 AM         2,564,951 eval_predictions_SNLI_old_model.jsonl
12/04/2023  04:26 AM         2,567,693 eval_predictions_SNLI_updated_with_ANLI.jsonl
12/04/2023  04:21 AM         2,565,061 eval_predictions_SNLIpANLIm_SNLIval.jsonl
              12 File(s)     14,618,485 bytes
               2 Dir(s)  1,866,571,665,408 bytes free

In [16]:
import pandas as pd
df_a1_r1 = pd.read_json('eval_predictions_a1_r1.jsonl', lines=True)
df_base.head()

,premise,hypothesis,label,predicted_scores,predicted_label
0,Two women are embracing while holding to go pa...,The sisters are hugging goodbye while holding ...,1,"[-2.655517339706421, 4.35628080368042, -2.9564...",1
1,Two women are embracing while holding to go pa...,Two woman are holding packages.,0,"[3.999716997146606, -0.908149480819702, -3.110...",0
2,Two women are embracing while holding to go pa...,The men are fighting outside a deli.,2,"[-4.539059162139893, -2.610094308853149, 5.717...",2
3,"Two young children in blue jerseys, one with t...",Two kids in numbered jerseys wash their hands.,0,"[3.978000879287719, -1.148713946342468, -2.775...",0
4,"Two young children in blue jerseys, one with t...",Two kids at a ballgame wash their hands.,1,"[-3.37094497680664, 2.595725297927856, -0.2479...",1

In [17]:
import pandas as pd
df_a2_r1 = pd.read_json('eval_predictions_a2_r1.jsonl', lines=True)
df_a1.head()

,premise,hypothesis,label,predicted_scores,predicted_label
0,Two women are embracing while holding to go pa...,The sisters are hugging goodbye while holding ...,1,"[-4.015252590179443, 4.470546245574951, -1.911...",1
1,Two women are embracing while holding to go pa...,Two woman are holding packages.,0,"[2.888674736022949, -2.042037963867187, -0.795...",0
2,Two women are embracing while holding to go pa...,The men are fighting outside a deli.,2,"[-4.105733871459961, -1.17663288116455, 3.9173...",2
3,"Two young children in blue jerseys, one with t...",Two kids in numbered jerseys wash their hands.,0,"[1.355234861373901, -2.21549916267395, 1.08333...",0
4,"Two young children in blue jerseys, one with t...",Two kids at a ballgame wash their hands.,1,"[-2.860575914382934, -2.119940996170044, 3.986...",2

In [19]:
len(df_a2_r1)

1000

In [20]:
import pandas as pd

# Assuming df_base and df_a1 are your DataFrames

# Step 1: Merge the DataFrames on 'premise' and 'hypothesis'
merged_df = pd.merge(df_a1_r1, df_a2_r1, on=['premise', 'hypothesis'], suffixes=('_base', '_a1'))

# Step 2: Filter rows where label matches predicted_label in df_base but not in df_a1
filtered_df = merged_df[
    (merged_df['label_base'] != merged_df['predicted_label_base']) &
    (merged_df['label_a1'] == merged_df['predicted_label_a1'])
]

# Step 3: Selecting relevant columns (optional)
# You can modify this list to include the columns you're interested in
columns_to_display = ['premise', 'hypothesis', 'label_base', 'predicted_label_base', 'label_a1', 'predicted_label_a1']
result_df = filtered_df[columns_to_display]

# Display the result
result_df

,premise,hypothesis,label_base,predicted_label_base,label_a1,predicted_label_a1
6,"Edmond (or Edmund) Halley, FRS (pronounced ; 8...",Edmond Halley was born outside of the United K...,1,2,1,1
14,"Elizabeth Jane Watson (December 28, 1921 – Feb...",Elizabeth Jane Watson is still alive.,2,1,2,2
38,De Baandert was a multi-use stadium in Sittard...,"22,000 people go to football matches at De Baa...",1,0,1,1
39,Ghosting refers to the act of breaking off a r...,Ghosting is the act of breaking off a relation...,2,0,2,2
46,The Beverly Center Business District encompass...,The National Register of Historic Places was e...,1,0,1,1
...,...,...,...,...,...,...
899,Lion is a 2016 biographical film directed by G...,Lion is a motion picture,0,2,0,0
939,The Paris Review is a quarterly English langua...,There were six issues of The Paris Review publ...,2,1,2,2
941,Scopwick is small village and civil parish in ...,Scopwick is small village and civil parish in ...,2,0,2,2
991,Hozier is the eponymous debut studio album fro...,Hozier was recorded in 2013.,1,2,1,1
993,"Max Loughan (born November 14, 2002) is an Ame...","Max Loughan was born in Reno, Nevada.",1,2,1,1

In [12]:
len(result_df)/9842.0

0.029770371875635034

In [21]:
# Filter result_df based on specific conditions
final_df = result_df[
    (result_df['label_base'] == 2) &
    (result_df['predicted_label_base'] == 1) &
    (result_df['predicted_label_a1'] == 2)
]

# Display the final DataFrame
final_df

,premise,hypothesis,label_base,predicted_label_base,label_a1,predicted_label_a1
14,"Elizabeth Jane Watson (December 28, 1921 – Feb...",Elizabeth Jane Watson is still alive.,2,1,2,2
174,A trumpet concerto is a concerto for solo trum...,A trumpet concerto features multiple trumpets ...,2,1,2,2
241,King of the Corner is a 2004 film featured at ...,The only actors in the King of the Corner were...,2,1,2,2
327,"""When Will I See You Again"" is a song released...",When Will I See You Again was the most popular...,2,1,2,2
401,The NUT teacher strike was a 24-hour strike by...,The NUT teacher strike was 48 hours long.,2,1,2,2
711,EPOC is a discontinued family of graphical ope...,Electronic pieces of cheese were developed to ...,2,1,2,2
751,Gustave Marie Maurice Mesny (28 March 1886 – 1...,Gustave was a Brigadier General.,2,1,2,2
838,Agatha Christie: Evil Under the Sun is a video...,Agatha Christie: Evil Under the Sun is a video...,2,1,2,2
847,"""That's My Pa"" is a 1962 single by Sheb Wooley...","""That's My Pa"" is a 1962 single by Shel Wooley...",2,1,2,2
939,The Paris Review is a quarterly English langua...,There were six issues of The Paris Review publ...,2,1,2,2

In [22]:
len(final_df)/len(result_df)

0.09174311926605505

In [23]:
# Filter result_df based on specific conditions
final_df = result_df[
    (result_df['label_base'] == 0) &
    (result_df['predicted_label_base'] == 1) &
    (result_df['predicted_label_a1'] == 0)
]

# Display the final DataFrame
final_df
#len(final_df)/len(result_df)

,premise,hypothesis,label_base,predicted_label_base,label_a1,predicted_label_a1
75,This is a list of cities in Azerbaijan. Azerba...,Azerbaijan has more villages than urban settle...,0,1,0,0
77,"The Savage Detectives (""Los Detectives Salvaje...",Roberto Bolaño based the character of Arturo B...,0,1,0,0
152,"Pablo Neruda ( ; ] ) was the pen name and, lat...",Pablo Neruda had more than one professional in...,0,1,0,0
213,The Beijing Municipal Administration & Communi...,Beijing Municipal Administration & Communicati...,0,1,0,0
215,Alexander Munro (26 October 1825 – 1 January 1...,Alexander Munro studied the work of Rossetti.,0,1,0,0
243,The Last Witness () is a 1980 South Korean mys...,Lee Doo-yong directed the original version of ...,0,1,0,0
350,Canning Fok Kin-ning () (born 1951 in Hong Kon...,Canning Fok Kin-ning lives in a country near C...,0,1,0,0
359,The Frog and the Nightingale is a poem compose...,The Frog and the Nightingale involves an amphi...,0,1,0,0
378,Tracinda Corporation is an American private in...,Tracinda Corporation is no longer owned by the...,0,1,0,0
419,is an American band formed in Los Angeles by M...,Keenan has practiced singing,0,1,0,0
472,""""" was an English language French–Canadian act...",The television series was cancelled after 24 e...,0,1,0,0
491,"Charles ""Tex"" Harrison (1933 – November 20, 20...",Charles Harrison was a black man.,0,1,0,0
523,"Cody Martin Linley (born November 20, 1989) is...",Cody Martin Linley did not win Dancing with th...,0,1,0,0
745,"Greg Lansing (born (1967--) 9, 1967 ) is an Am...",Greg Lansing has coached athletes at Indiana S...,0,1,0,0
774,Karaliaus Mindaugo taurė (English: King Mindau...,Karaliaus Mindaugo taurė occurs in Europe.,0,1,0,0
828,Maarten de Jonge (born 9 March 1985) is a Dutc...,De Jonge did not actually fly on Malaysia Airl...,0,1,0,0
878,"In British politics, the shadow foreign secret...",British politics involve different positions t...,0,1,0,0
887,Alan Metter is an American film director whose...,"""The Winds of Whoopie"" was not produced to pla...",0,1,0,0

In [24]:
len(final_df)/len(result_df)

0.1651376146788991

In [25]:
# Filter result_df based on specific conditions
final_df = result_df[
    (result_df['label_base'] == 0) &
    (result_df['predicted_label_base'] == 2) &
    (result_df['predicted_label_a1'] == 0)
]

# Display the final DataFrame
final_df
#len(final_df)/len(result_df)

,premise,hypothesis,label_base,predicted_label_base,label_a1,predicted_label_a1
76,Kevin Sloan is a retired American soccer playe...,Kevin Sloan played in less than 5 leagues,0,2,0,0
197,"Heineken Light (labelled as ""Heineken 3"" in Au...",Heineken Light has fewer than 100 calories per...,0,2,0,0
217,San Andreas is a 2015 American disaster film d...,San Andreas is a American disaster film that t...,0,2,0,0
224,Smriti Zubin Irani (born Smriti Malhotra; 23 M...,Irani is a 43 year old woman.,0,2,0,0
227,"Michael Allen Baker (born October 27, 1953) is...",Michael Allen Baker is over 60 years old today,0,2,0,0
278,The Lakeview Drive (also known as North Shore ...,The Lakeview Drive does not pass the boundarie...,0,2,0,0
324,The Fuling Yangtze River Bridge is a cable-sta...,The Fuling Yangtze River Bridge is 22 years old,0,2,0,0
435,Julian Peter McDonald Clary (born 25 May 1959)...,Julian Peter McDonald Clary was less than 30 y...,0,2,0,0
492,"W. de Wycombe (Wicumbe, and perhaps Whichbury)...",W. de Wycombe was born during the Medieval era.,0,2,0,0
537,"John Fair ""Jocko"" Marcellino (born May 12, 195...",Marcellino is 69 years old,0,2,0,0
595,Shanghai is a series of action comedy films ba...,Shanghai Noon and Shanghai Knights were releas...,0,2,0,0
618,Lynyrd Skynyrd: I'll Never Forget You is a boo...,Gene Odom was not a musician in Lynyrd Skynyrd.,0,2,0,0
681,The World of David Bowie is an album by David ...,The World of David Bowie wasn't David's first ...,0,2,0,0
762,The Battle of the Combahee River was a battle ...,The British evacuated Charleston after the Bat...,0,2,0,0
899,Lion is a 2016 biographical film directed by G...,Lion is a motion picture,0,2,0,0

In [27]:
len(final_df)/len(result_df)

0.13761467889908258

In [28]:
# Filter result_df based on specific conditions
final_df = result_df[
    (result_df['label_base'] == 1) &
    (result_df['predicted_label_base'] == 2) &
    (result_df['predicted_label_a1'] == 1)
]

# Display the final DataFrame
final_df
#len(final_df)/len(result_df)

,premise,hypothesis,label_base,predicted_label_base,label_a1,predicted_label_a1
6,"Edmond (or Edmund) Halley, FRS (pronounced ; 8...",Edmond Halley was born outside of the United K...,1,2,1,1
49,José Eleazar Gómez Sanchez (] ; better known a...,Eleazar Gomez has never performed in American ...,1,2,1,1
106,Susan Sadlowski Garza is a member of the Chica...,Susan Sadlowski Garza never met Rahm Emanuel.,1,2,1,1
167,"On 12 March 2007, Frank Newbery was beaten to ...",Frank Newbery lived only a few blocks from the...,1,2,1,1
219,5...GO is an album by South Korean rock band F...,5...GO was produced in 2014,1,2,1,1
245,Brahmachari (English: Celibate ) is a 1938 bla...,Master Vinayak directed a film in 1939.,1,2,1,1
259,Mark Rankin was lead vocalist with Scottish ro...,"Mark Rankin wrote the song ""Steal Your Fire"" i...",1,2,1,1
271,"James Rufus Agee ( ; November 27, 1909 – May 1...",James Rufus Agee stopped reviewing films in 1951,1,2,1,1
357,"Polo (Persian: چوگان ""chogān"") is a team sport...",Only Arabian horses are used to play polo.,1,2,1,1
442,My Fair Lady Loves Jazz is an album by America...,My Fair Lady Loves Jazz was a failure.,1,2,1,1
450,Abies spectabilis (East Himalayan fir) is a co...,Abies spectabilis are usually 40m tall.,1,2,1,1
464,"Super Supau is a Taiwanese sports drink, manuf...",Super Supau is drank in Japan.,1,2,1,1
526,"BlayzBloo: Super Melee Brawlers Battle Royale,...",BlayzBloo was shut down in 2014 by Arc System ...,1,2,1,1
643,The Building Strong Families Program (BSF) is ...,The U.S. Department of Health and Human Servic...,1,2,1,1
676,Deus (styled as dEUS) is a rock band based in ...,Rock bands can be found across the entire worl...,1,2,1,1
720,The Hill 50 Gold Mine is a gold mine located 4...,Ramelius Resources will never sell the Hill 50...,1,2,1,1
729,"A Doll's House (Bokmål: ""Et dukkehjem"" ; also ...",Henrik Ibsen died in 1889.,1,2,1,1
788,The Wedding Album is an American television pi...,The Wedding Bells series ended in 2014.,1,2,1,1
793,"Alexander Michael Tahquitz ""Alex"" Ebert (born ...","Alexander Michael Tahquitz ""Alex"" Ebert releas...",1,2,1,1
814,Daddy and Them is a 2001 American film written...,Billy Bob Thornton starred in Daddy and Them i...,1,2,1,1
856,The 1959 German football championship Final de...,The winner of the 1959 German Football Champio...,1,2,1,1
870,The Quiet Family () is a 1998 South Korean com...,The Quiet Family was filmed in 1997.,1,2,1,1
991,Hozier is the eponymous debut studio album fro...,Hozier was recorded in 2013.,1,2,1,1
993,"Max Loughan (born November 14, 2002) is an Ame...","Max Loughan was born in Reno, Nevada.",1,2,1,1

In [29]:
len(final_df)/len(result_df)

0.22018348623853212

In [30]:
# Filter result_df based on specific conditions
final_df = result_df[
    (result_df['label_base'] == 2) &
    (result_df['predicted_label_base'] == 0) &
    (result_df['predicted_label_a1'] == 2)
]

# Display the final DataFrame
final_df

,premise,hypothesis,label_base,predicted_label_base,label_a1,predicted_label_a1
39,Ghosting refers to the act of breaking off a r...,Ghosting is the act of breaking off a relation...,2,0,2,2
51,Five Aces is a 1999 black comedy/drama film wr...,Charlie Sheen was the director of the movie Fi...,2,0,2,2
136,The 2017–18 Phoenix Suns season will be the 50...,2017-2018 marked the 25th season of the Phoeni...,2,0,2,2
149,A Promise is a 2013 French drama romance film ...,Patrice Leconte starred in the film A Promise ...,2,0,2,2
170,Ezhou () is a prefecture-level city in eastern...,"As of 2010 census, 1,048,668 people occupy the...",2,0,2,2
277,Bettada Jeeva is a National Award-winning (201...,Bettada Jeeva is a National Award-winning (201...,2,0,2,2
290,Red Shirts (Italian:Camicie rosse) is a 1952 F...,Red Shirts was directed by Goffredo Alessandri...,2,0,2,2
380,"USS ""Ludlow"" (DD-438), a ""Gleaves""-class destr...",Lieutenant Augustus C. Ludlow died at Halifax ...,2,0,2,2
402,Andrzej Żuławski (] ; 22 November 1940 – 17 Fe...,Andrzej Żuławski enjoyed success acting in Pol...,2,0,2,2
415,"Tony Rice (born David Anthony Rice, June 8, 19...",Tony Rice was inducted into the International ...,2,0,2,2
455,Red Amnesia () is a 2014 Chinese thriller film...,Red Amnesia is a 2014 Chinese thriller film di...,2,0,2,2
473,Björn Kristian Ulvaeus (] ) (born 25 April 194...,"Björn Kristian Ulvaeus co-produced the film ""M...",2,0,2,2
533,"""Bad Habits"" is the lead single by English ban...",The Last Shadow Puppets released a single afte...,2,0,2,2
535,Taj Mahal or Mini Taj Mahal or Qadri's Taj Mah...,"Faizul Hasan Qadri and his wife, Tajamulli Beg...",2,0,2,2
651,"Thomas ""Tim"" Buckley (May 28, 1942 – April 16,...",Thomas Buckley lived until he was 75 years old,2,0,2,2
652,"Matthew Mead (born 1924, Buckinghamshire, died...",Matthew Mead's wife Ruth edited the magazine S...,2,0,2,2
671,Anne of Green Gables is a 1934 film directed b...,Anne of Green Gables is based upon a novel by ...,2,0,2,2
684,is an American band formed in Los Angeles by M...,Maynard James Keenan is the lead singer of onl...,2,0,2,2
714,The 2004 Nickelodeon Kid's Choice Awards was t...,Hosted by Mike Myers and Diaz Cameron to promo...,2,0,2,2
811,A Quick Fuck is a layered shooter made from on...,In A Quick Fuck you need to pour the Baileys o...,2,0,2,2
815,"William George ""Billy"" Zane, Jr. (born Februar...",Billy Zane starred in Dead Calm in 1989 as Kit...,2,0,2,2
835,"Jaana Kunitz, born in Taivalkoski, Finland in ...",James Kunitz has since retired from competing ...,2,0,2,2
858,Maxim Pozdorovkin is an award-winning Russian ...,Pozdorovkin held a PhD from Russia.,2,0,2,2
885,"Kota Ramakrishna Karanth (born May 1, 1894) wa...",Kota Ramakrishna Karanth served as the Ministe...,2,0,2,2
941,Scopwick is small village and civil parish in ...,Scopwick is small village and civil parish in ...,2,0,2,2

In [31]:
len(final_df)/len(result_df)

0.22935779816513763

In [32]:
# Filter result_df based on specific conditions
final_df = result_df[
    (result_df['label_base'] == 1) &
    (result_df['predicted_label_base'] == 0) &
    (result_df['predicted_label_a1'] == 1)
]

# Display the final DataFrame
final_df
#len(final_df)/len(result_df)

,premise,hypothesis,label_base,predicted_label_base,label_a1,predicted_label_a1
38,De Baandert was a multi-use stadium in Sittard...,"22,000 people go to football matches at De Baa...",1,0,1,1
46,The Beverly Center Business District encompass...,The National Register of Historic Places was e...,1,0,1,1
87,The 1990 season of the astronomy TV show starr...,Star Gazer is the official website for Jack Ho...,1,0,1,1
144,South Dorset is a constituency represented in ...,South Dorset is a historically conservative co...,1,0,1,1
157,Big Data is an American electronic music proje...,Big Data wrote Dangerous with Joywave.,1,0,1,1
182,"Gaddo Gaddi (c. 1239, Florence – c. 1312, Flor...",Gaddo Gaddi had more than one child.,1,0,1,1
316,The Fuling Yangtze River Bridge is a cable-sta...,It was impossible to make it a five lane bridge.,1,0,1,1
399,The 1948 SMU Mustangs football team represente...,Several of the SMU Mustangs have won the Heism...,1,0,1,1
423,Bakhodir Jalolov (born 8 July 1994) is a Uzbek...,Bakhodir Jalolov participated in multiple Olym...,1,0,1,1
505,Marina Prior (born 18 October 1963) is an Aust...,"Rob Guest joined Marina in ""The Phantom of the...",1,0,1,1
515,The Alternative Press Tour or AP Tour was an A...,The Alternative Press Tour no longer exists.,1,0,1,1
519,Mateo Camargo (pronounced: Muh-tay-oh) is a Co...,Mateo Camargo caused the breakup of Madina Lake.,1,0,1,1
650,The Stick People is an American alternative ro...,2008 saw a record formation of American altern...,1,0,1,1
661,"Ram Charan is an Indian film actor, dancer, pr...",Tollywood is India's version of Hollywood.,1,0,1,1
760,Warwick Todd is a fictional character created ...,Tom Gleisner is done writing Warwick Todd novels.,1,0,1,1
816,The 2008 Supercheap Auto Bathurst 1000 was the...,The 1960 Amrstrong 500 was the only race not 1...,1,0,1,1
880,Akiva Grunblatt is an Orthodox rabbi who as co...,Rabbi Dovid Harris knew Grunblatt before 2000,1,0,1,1

In [33]:
len(final_df)/len(result_df)

0.1559633027522936