This Notebook compares performance of [base SNLI trained Electra Model] versus [base SNLI trained Electra Model trained on ANLI - Approach 1]

In [3]:
import os

# Change to a mounted drive, for example, /mnt/my_drive
os.chdir('E:\\NLP\\Comparison')

In [4]:
pwd

'E:\\NLP\\Comparison'

In [5]:
ls

 Volume in drive E is Sid_2023
 Volume Serial Number is E065-686B

 Directory of E:\NLP\Comparison

12/04/2023  04:31 AM    <DIR>          .
12/04/2023  04:31 AM    <DIR>          ..
12/04/2023  03:22 AM           733,215 eval_predictions_a0_r1.jsonl
12/04/2023  03:23 AM           731,548 eval_predictions_a0_r2.jsonl
12/04/2023  03:24 AM           842,629 eval_predictions_a0_r3.jsonl
12/04/2023  03:19 AM           732,853 eval_predictions_a1_r1.jsonl
12/04/2023  03:18 AM           731,140 eval_predictions_a1_r2.jsonl
12/04/2023  03:20 AM           842,687 eval_predictions_a1_r3.jsonl
12/04/2023  04:23 AM         2,564,951 eval_predictions_SNLI_old_model.jsonl
12/04/2023  04:26 AM         2,567,693 eval_predictions_SNLI_updated_with_ANLI.jsonl
12/04/2023  04:21 AM         2,565,061 eval_predictions_SNLIpANLIm_SNLIval.jsonl
               9 File(s)     12,311,777 bytes
               2 Dir(s)  1,866,577,178,624 bytes free

In [9]:
import pandas as pd
df_base = pd.read_json('eval_predictions_SNLI_old_model.jsonl', lines=True)
df_base.head()

,premise,hypothesis,label,predicted_scores,predicted_label
0,Two women are embracing while holding to go pa...,The sisters are hugging goodbye while holding ...,1,"[-2.655517339706421, 4.35628080368042, -2.9564...",1
1,Two women are embracing while holding to go pa...,Two woman are holding packages.,0,"[3.999716997146606, -0.908149480819702, -3.110...",0
2,Two women are embracing while holding to go pa...,The men are fighting outside a deli.,2,"[-4.539059162139893, -2.610094308853149, 5.717...",2
3,"Two young children in blue jerseys, one with t...",Two kids in numbered jerseys wash their hands.,0,"[3.978000879287719, -1.148713946342468, -2.775...",0
4,"Two young children in blue jerseys, one with t...",Two kids at a ballgame wash their hands.,1,"[-3.37094497680664, 2.595725297927856, -0.2479...",1

In [13]:
import pandas as pd
df_a1 = pd.read_json('eval_predictions_SNLI_updated_with_ANLI.jsonl', lines=True)
df_a1.head()

,premise,hypothesis,label,predicted_scores,predicted_label
0,Two women are embracing while holding to go pa...,The sisters are hugging goodbye while holding ...,1,"[-4.015252590179443, 4.470546245574951, -1.911...",1
1,Two women are embracing while holding to go pa...,Two woman are holding packages.,0,"[2.888674736022949, -2.042037963867187, -0.795...",0
2,Two women are embracing while holding to go pa...,The men are fighting outside a deli.,2,"[-4.105733871459961, -1.17663288116455, 3.9173...",2
3,"Two young children in blue jerseys, one with t...",Two kids in numbered jerseys wash their hands.,0,"[1.355234861373901, -2.21549916267395, 1.08333...",0
4,"Two young children in blue jerseys, one with t...",Two kids at a ballgame wash their hands.,1,"[-2.860575914382934, -2.119940996170044, 3.986...",2

In [18]:
len(df_base)

9842

In [14]:
import pandas as pd
df_a2 = pd.read_json('eval_predictions_SNLI_updated_with_ANLI.jsonl', lines=True)
df_a2.head()

,premise,hypothesis,label,predicted_scores,predicted_label
0,Two women are embracing while holding to go pa...,The sisters are hugging goodbye while holding ...,1,"[-4.015252590179443, 4.470546245574951, -1.911...",1
1,Two women are embracing while holding to go pa...,Two woman are holding packages.,0,"[2.888674736022949, -2.042037963867187, -0.795...",0
2,Two women are embracing while holding to go pa...,The men are fighting outside a deli.,2,"[-4.105733871459961, -1.17663288116455, 3.9173...",2
3,"Two young children in blue jerseys, one with t...",Two kids in numbered jerseys wash their hands.,0,"[1.355234861373901, -2.21549916267395, 1.08333...",0
4,"Two young children in blue jerseys, one with t...",Two kids at a ballgame wash their hands.,1,"[-2.860575914382934, -2.119940996170044, 3.986...",2

In [16]:
import pandas as pd

# Assuming df_base and df_a1 are your DataFrames

# Step 1: Merge the DataFrames on 'premise' and 'hypothesis'
merged_df = pd.merge(df_base, df_a1, on=['premise', 'hypothesis'], suffixes=('_base', '_a1'))

# Step 2: Filter rows where label matches predicted_label in df_base but not in df_a1
filtered_df = merged_df[
    (merged_df['label_base'] == merged_df['predicted_label_base']) &
    (merged_df['label_a1'] != merged_df['predicted_label_a1'])
]

# Step 3: Selecting relevant columns (optional)
# You can modify this list to include the columns you're interested in
columns_to_display = ['premise', 'hypothesis', 'label_base', 'predicted_label_base', 'label_a1', 'predicted_label_a1']
result_df = filtered_df[columns_to_display]

# Display the result
result_df

,premise,hypothesis,label_base,predicted_label_base,label_a1,predicted_label_a1
4,"Two young children in blue jerseys, one with t...",Two kids at a ballgame wash their hands.,1,1,1,2
10,Two young boys of opposing teams play football...,dog eats out of bowl,2,2,2,1
23,Two men on bicycles competing in a race.,A few people are catching fish.,2,2,2,1
27,Families waiting in line at an amusement park ...,The restaurant is very bad.,2,2,2,1
39,"At an outdoor event in an Asian-themed area, a...",A single man is next to a camera,2,2,2,1
...,...,...,...,...,...,...
9794,Two children in a bag race competing against e...,There are three children.,0,0,0,2
9803,A view from a hidden camera at a low height sh...,A husband and wife enjoy their wedding in a ch...,2,2,2,1
9813,Three young indian children play wiffle ball.,Three children are crying.,2,2,2,1
9815,A group of people is gathered around a table o...,A group of people are gather around a meeting ...,1,1,1,2
9830,Two police officers are sitting on motorcycles...,the police are sleep.,2,2,2,1

In [20]:
len(result_df)

1039

In [17]:
# Filter result_df based on specific conditions
final_df = result_df[
    (result_df['label_base'] == 1) &
    (result_df['predicted_label_base'] == 1) &
    (result_df['predicted_label_a1'] == 0)
]

# Display the final DataFrame
final_df

,premise,hypothesis,label_base,predicted_label_base,label_a1,predicted_label_a1
223,An asian woman sitting outside an outdoor mark...,A woman is selling stuff in a flea market.,1,1,1,0
297,A goalie in white runs for an approaching ball...,The goalie is running out to catch the ball be...,1,1,1,0
490,Five people are sitting on horses at a rodeo.,A group of cowboys are sitting on horses.,1,1,1,0
587,A boy walking away from two Camden tents with ...,A person leaving a tent with his friends,1,1,1,0
705,Three children play with a giant sphere on a p...,A group of children are playing while their te...,1,1,1,0
...,...,...,...,...,...,...
9314,A woman in a college t-shirt walking quickly c...,A college student is carrying bags.,1,1,1,0
9351,Four cheerleaders performing a cheer on court ...,Cheerleaders cheering at a tournament.,1,1,1,0
9496,Golfer celebrates after a shot he has made.,A golfer is competing in an important tournament.,1,1,1,0
9739,A little girl in a red and white shirt stands ...,a kid stands near modern art,1,1,1,0
9748,"Two boys, one wearing green, the other in yell...",There are two boys drawing lewd pictures in ch...,1,1,1,0

In [21]:
len(final_df)/len(result_df)

0.08565928777670838

In [22]:
# Filter result_df based on specific conditions
final_df = result_df[
    (result_df['label_base'] == 1) &
    (result_df['predicted_label_base'] == 1) &
    (result_df['predicted_label_a1'] == 2)
]

# Display the final DataFrame
final_df
len(final_df)/len(result_df)

0.12800769971126083

In [23]:
# Filter result_df based on specific conditions
final_df = result_df[
    (result_df['label_base'] == 2) &
    (result_df['predicted_label_base'] == 2) &
    (result_df['predicted_label_a1'] == 0)
]

# Display the final DataFrame
final_df
#len(final_df)/len(result_df)

,premise,hypothesis,label_base,predicted_label_base,label_a1,predicted_label_a1
233,Number 13 kicks a soccer ball towards the goal...,A player fighting in a soccer game.,2,2,2,0
745,A man with black pants on walks by a wall with...,A man is in outer space.,2,2,2,0
1834,A man with shoulder length dark hair sits near...,A bald man holds a cigarette.,2,2,2,0
1871,A sports match is taking place between one tea...,Two teams are refusing to play each other naked.,2,2,2,0
2491,A young woman tennis player dressed in black c...,A young woman never wears white dress.,2,2,2,0
4008,The dog is catching a treat.,the cat is not catching a treat,2,2,2,0
4188,An elderly man sleeping in a outdoor chair whi...,Two women are relaxing outside.,2,2,2,0
4250,A man walking in front of a black cement wall ...,A man is in outer space.,2,2,2,0
4315,"A man wearing a top-hat, blue plaid pajama pan...",A man has on a sombrero,2,2,2,0
6179,A man in a black shirt sits beneath a'no child...,The man sitting beneath the presentation had n...,2,2,2,0
6306,A gathering of young African males under a tha...,A group of men are standing on a roof.,2,2,2,0
6826,A group of men are playing rugby in a field wi...,The men are at a sports bar,2,2,2,0
6911,A little boy wearing glasses and a t-shirt tha...,Two kids riding a see-saw.,2,2,2,0
7661,A boy wearing a black shirt is playing a game ...,A kid is in the field.,2,2,2,0
7879,A man wearing a U.S. Navy uniform and a woman ...,Two people excitedly watch an event,2,2,2,0
8201,Scene from a life show with man singing in the...,A man is sitting in an audience.,2,2,2,0
8220,A female is looking through a microscope.,A lady poked her eye with needles,2,2,2,0
9776,During this vacation children enjoying their g...,The kids are home,2,2,2,0

In [24]:
len(final_df)/len(result_df)

0.017324350336862367

In [25]:
# Filter result_df based on specific conditions
final_df = result_df[
    (result_df['label_base'] == 2) &
    (result_df['predicted_label_base'] == 2) &
    (result_df['predicted_label_a1'] == 1)
]

# Display the final DataFrame
final_df
len(final_df)/len(result_df)

0.4542829643888354

In [26]:
# Filter result_df based on specific conditions
final_df = result_df[
    (result_df['label_base'] == 0) &
    (result_df['predicted_label_base'] == 0) &
    (result_df['predicted_label_a1'] == 2)
]

# Display the final DataFrame
final_df
len(final_df)/len(result_df)

0.14918190567853706

In [28]:
# Filter result_df based on specific conditions
final_df = result_df[
    (result_df['label_base'] == 0) &
    (result_df['predicted_label_base'] == 0) &
    (result_df['predicted_label_a1'] == 1)
]

# Display the final DataFrame
final_df
#len(final_df)/len(result_df)

,premise,hypothesis,label_base,predicted_label_base,label_a1,predicted_label_a1
86,The two farmers are working on a piece of John...,Men are working on John Deere equipment,0,0,0,1
117,A person powerwashing stairs leading down to a...,a worker cleans near the pool,0,0,0,1
128,A group of people prepare hot air balloons for...,A group of people are outside.,0,0,0,1
232,Number 13 kicks a soccer ball towards the goal...,A player trying to score in a soccer game.,0,0,0,1
261,A man is a safety suit walking outside while a...,There are two men walking outside.,0,0,0,1
...,...,...,...,...,...,...
9461,The lady wearing a red coat is giving a speech.,Woman is the center of attention.,0,0,0,1
9465,A nurse examines equipment in the operating room.,A nurse at work.,0,0,0,1
9542,A boy and dog are on the lawn outside of the h...,A boy and dog play outside.,0,0,0,1
9613,A soldier is holding a gun and crouched down w...,A man is holding a gun.,0,0,0,1
9657,"Two competitors in the last leg of a race, str...",Races can be long and tiring.,0,0,0,1

In [29]:
len(final_df)/len(result_df)

0.16554379210779596